@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-body{
    background: #F6F2F2;
  }
  
 /*@responsive {
    .bg-network-left{
      background: url(/images/network.png) top left no-repeat;
    }
    .bg-network-right{
      background: url(/images/network.png) top right no-repeat;
    }
  } */